*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .container .row .logo {
    padding: 30px 0;
  }
  
  header .container .row .logo .img a img {
    width: 80%;
  }
  
  header .container .row .navbar_click_icon {
    display: none;
  }
  
  header .container .row .navbar_click_icon .icon {
    float: right;
    margin: 25px 0;
  }
  
  header .container .row .navbar_click_icon .icon i {
    font-size: 30px;
    color: #AFAFAF;
    cursor: pointer;
  }
  
  header .container .row .navbar_click_icon .icon i:hover {
    color: #6D6A6A;
  }
  
  header .container .row .sidebar {
    overflow-y: scroll;
    -webkit-box-shadow: -10px -10px 8px #eee;
            box-shadow: -10px -10px 8px #eee;
    -webkit-transform: translate(340px);
            transform: translate(340px);
    position: fixed;
    width: 330px;
    height: 100%;
    right: 0;
    top: 0;
    background: #ffffff;
    z-index: 99999999;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  
  header .container .row .sidebar::-webkit-scrollbar {
    visibility: hidden;
  }
  
  header .container .row .sidebar .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    cursor: pointer;
  }
  
  header .container .row .sidebar .close i {
    color: #f34f3f;
    font-size: 25px;
  }
  
  header .container .row .sidebar .sidebar_list ul {
    padding: 40px;
    list-style: none;
  }
  
  header .container .row .sidebar .sidebar_list ul li {
    padding: 8px;
  }
  
  header .container .row .sidebar .sidebar_list ul li a {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #1b1b1b;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
  }
  
  header .container .row .sidebar .sidebar_list ul li i {
    font-size: 12px;
    color: #1b1b1b;
    padding-left: 10px;
  }
  
  header .container .row .sidebar .sidebar_list ul li div {
    display: none;
    padding: 10px 0;
  }
  
  header .container .row .sidebar .sidebar_list ul li div ul {
    padding: 0px;
  }
  
  header .container .row .sidebar .sidebar_list ul li div ul li {
    padding: 3px 0;
  }
  
  header .container .row .sidebar .sidebar_list ul li div ul li a {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #8b8b8b;
    text-transform: capitalize;
  }
  
  header .container .row .sidebar .sidebar_list ul li div ul li i {
    color: #8b8b8b;
  }
  
  header .container .row nav {
    height: 100%;
  }
  
  header .container .row nav ul {
    height: 100%;
    list-style-type: none;
  }
  
  header .container .row nav ul li {
    padding: 30px 0;
    cursor: pointer;
  }
  
  header .container .row nav ul li:hover a::after {
    width: 100%;
  }
  
  header .container .row nav ul li a {
    position: relative;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #1b1b1b;
  }
  
  header .container .row nav ul li a::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 0;
    height: 1.5px;
    background: #737373;
    -webkit-transition: width 0.2s ease-out;
    transition: width 0.2s ease-out;
  }
  
  header .container .row nav ul li a.selected::after {
    width: 100%;
  }
  
  header .container .row nav ul li.home a {
    position: relative;
  }
  
  header .container .row nav ul li.home:hover .sub_home {
    z-index: 9;
    visibility: visible;
    height: 300px;
    opacity: 1;
    overflow: visible;
  }
  
  header .container .row nav ul li.home .sub_home {
    -webkit-box-shadow: 5px 5px 7px #eee;
            box-shadow: 5px 5px 7px #eee;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 86px;
    left: 40px;
    background: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  header .container .row nav ul li.home .sub_home ul {
    padding: 20px;
  }
  
  header .container .row nav ul li.home .sub_home ul li {
    padding: 0 0 15px 0;
    width: 160px;
  }
  
  header .container .row nav ul li.home .sub_home ul li:hover a::after {
    width: 100%;
  }
  
  header .container .row nav ul li.home .sub_home ul li a {
    color: #737373;
    font-size: 13px;
    text-transform: capitalize;
  }
  
  header .container .row nav ul li.home .sub_home ul li a::after {
    width: 0;
  }
  
  header .container .row nav ul li.pages:hover .sub_pages {
    z-index: 99;
    visibility: visible;
    height: 150px;
    opacity: 1;
    overflow: visible;
  }
  
  header .container .row nav ul li.pages .sub_pages {
    -webkit-box-shadow: 5px 5px 7px #eee;
            box-shadow: 5px 5px 7px #eee;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 86px;
    left: 137px;
    background: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  header .container .row nav ul li.pages .sub_pages ul {
    padding: 20px;
  }
  
  header .container .row nav ul li.pages .sub_pages ul li {
    padding: 0 0 15px 0;
    width: 160px;
  }
  
  header .container .row nav ul li.pages .sub_pages ul li:hover a::after {
    width: 100%;
  }
  
  header .container .row nav ul li.pages .sub_pages ul li a {
    color: #737373;
    font-size: 13px;
    text-transform: capitalize;
  }
  
  header .container .row nav ul li.pages .sub_pages ul li a::after {
    width: 0;
  }
  
  header .container .row nav ul li.shop:hover .sub_shop {
    z-index: 999;
    visibility: visible;
    height: 460px;
    opacity: 1;
    overflow: visible;
  }
  
  header .container .row nav ul li.shop .sub_shop {
    -webkit-box-shadow: 5px 5px 7px #eee;
            box-shadow: 5px 5px 7px #eee;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 86px;
    left: -270px;
    background: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  header .container .row nav ul li.shop .sub_shop ul {
    padding: 0 52px;
  }
  
  header .container .row nav ul li.shop .sub_shop ul h4 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    margin: 25px 0;
  }
  
  header .container .row nav ul li.shop .sub_shop ul li {
    padding: 0 0 15px 0;
    width: 160px;
  }
  
  header .container .row nav ul li.shop .sub_shop ul li:hover a::after {
    width: 100%;
  }
  
  header .container .row nav ul li.shop .sub_shop ul li a {
    color: #737373;
    font-size: 13px;
    text-transform: capitalize;
  }
  
  header .container .row nav ul li.shop .sub_shop ul li a::after {
    width: 0;
  }
  
  header .container .row nav ul li.portfolio:hover .sub_portfolio {
    z-index: 9999;
    visibility: visible;
    height: 230px;
    opacity: 1;
    overflow: visible;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio {
    -webkit-box-shadow: 5px 5px 7px #eee;
            box-shadow: 5px 5px 7px #eee;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 86px;
    left: 315px;
    background: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul {
    padding: 0px;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li {
    padding: 10px 20px;
    width: 200px;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li:hover a::after {
    width: 100%;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li a {
    color: #737373;
    font-size: 13px;
    text-transform: capitalize;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li a::after {
    width: 0;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li.portfolio_layouts:hover .sub_portfolio_layouts {
    visibility: visible;
    height: 235px;
    opacity: 1;
    overflow: visible;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li.portfolio_layouts i {
    color: #737373;
    font-size: 12px;
    padding-left: 25px;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li.portfolio_layouts .sub_portfolio_layouts {
    -webkit-box-shadow: 5px 5px 7px #eee;
            box-shadow: 5px 5px 7px #eee;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 115px;
    left: 200px;
    background: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li.portfolio_layouts .sub_portfolio_layouts ul {
    padding: 20px;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li.portfolio_layouts .sub_portfolio_layouts ul li {
    padding: 0 0 15px 0;
    width: 160px;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li.portfolio_layouts .sub_portfolio_layouts ul li:hover a::after {
    width: 100%;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li.portfolio_layouts .sub_portfolio_layouts ul li a {
    color: #737373;
    font-size: 13px;
    text-transform: capitalize;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li.portfolio_layouts .sub_portfolio_layouts ul li a::after {
    width: 0;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li.portfolio_single:hover .sub_portfolio_single {
    visibility: visible;
    height: 225px;
    opacity: 1;
    overflow: visible;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li.portfolio_single i {
    color: #737373;
    font-size: 12px;
    padding-left: 34px;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li.portfolio_single .sub_portfolio_single {
    -webkit-box-shadow: 5px 5px 7px #eee;
            box-shadow: 5px 5px 7px #eee;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 155px;
    left: 200px;
    background: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li.portfolio_single .sub_portfolio_single ul {
    padding: 20px;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li.portfolio_single .sub_portfolio_single ul li {
    padding: 0 0 15px 0;
    width: 160px;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li.portfolio_single .sub_portfolio_single ul li:hover a::after {
    width: 100%;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li.portfolio_single .sub_portfolio_single ul li a {
    color: #737373;
    font-size: 13px;
    text-transform: capitalize;
  }
  
  header .container .row nav ul li.portfolio .sub_portfolio ul li.portfolio_single .sub_portfolio_single ul li a::after {
    width: 0;
  }
  
  header .container .row nav ul li.blog:hover .sub_blog {
    z-index: 99999;
    visibility: visible;
    height: 155px;
    opacity: 1;
    overflow: visible;
  }
  
  header .container .row nav ul li.blog .sub_blog {
    -webkit-box-shadow: 5px 5px 7px #eee;
            box-shadow: 5px 5px 7px #eee;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 86px;
    left: 443px;
    background: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  header .container .row nav ul li.blog .sub_blog ul {
    padding: 0px;
  }
  
  header .container .row nav ul li.blog .sub_blog ul li {
    padding: 10px 20px;
    width: 200px;
  }
  
  header .container .row nav ul li.blog .sub_blog ul li:hover a::after {
    width: 100%;
  }
  
  header .container .row nav ul li.blog .sub_blog ul li a {
    color: #737373;
    font-size: 13px;
    text-transform: capitalize;
  }
  
  header .container .row nav ul li.blog .sub_blog ul li a::after {
    width: 0;
  }
  
  header .container .row nav ul li.blog .sub_blog ul li.post_types:hover .sub_post_types {
    visibility: visible;
    height: 260px;
    opacity: 1;
    overflow: visible;
  }
  
  header .container .row nav ul li.blog .sub_blog ul li.post_types i {
    color: #737373;
    font-size: 12px;
    padding-left: 25px;
  }
  
  header .container .row nav ul li.blog .sub_blog ul li.post_types .sub_post_types {
    -webkit-box-shadow: 5px 5px 7px #eee;
            box-shadow: 5px 5px 7px #eee;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 70px;
    left: 200px;
    background: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  header .container .row nav ul li.blog .sub_blog ul li.post_types .sub_post_types ul {
    padding: 20px;
  }
  
  header .container .row nav ul li.blog .sub_blog ul li.post_types .sub_post_types ul li {
    padding: 0 0 15px 0;
    width: 160px;
  }
  
  header .container .row nav ul li.blog .sub_blog ul li.post_types .sub_post_types ul li:hover a::after {
    width: 100%;
  }
  
  header .container .row nav ul li.blog .sub_blog ul li.post_types .sub_post_types ul li a {
    color: #737373;
    font-size: 13px;
    text-transform: capitalize;
  }
  
  header .container .row nav ul li.blog .sub_blog ul li.post_types .sub_post_types ul li a::after {
    width: 0;
  }
  
  header .container .row nav ul li.elements:hover .sub_elements {
    z-index: 999999;
    visibility: visible;
    height: 210px;
    opacity: 1;
    overflow: visible;
  }
  
  header .container .row nav ul li.elements .sub_elements {
    -webkit-box-shadow: 5px 5px 7px #eee;
            box-shadow: 5px 5px 7px #eee;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 86px;
    left: 443px;
    background: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  header .container .row nav ul li.elements .sub_elements ul {
    padding: 20px 0px;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li {
    padding: 10px 30px 10px 20px;
    width: 200px;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li:hover a::after {
    width: 100%;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li i {
    color: #737373;
    font-size: 12px;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li a {
    float: right;
    color: #737373;
    font-size: 13px;
    text-transform: capitalize;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li a::after {
    width: 0;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.classic:hover .sub_classic {
    visibility: visible;
    height: 260px;
    opacity: 1;
    overflow: visible;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.classic a i {
    padding-left: 25px;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.classic .sub_classic {
    -webkit-box-shadow: 5px 5px 7px #eee;
            box-shadow: 5px 5px 7px #eee;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: -220px;
    background: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.classic .sub_classic ul {
    padding: 20px 30px;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.classic .sub_classic ul li {
    padding: 10px 0;
    width: 160px;
    height: 45px;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.classic .sub_classic ul li:hover a::after {
    width: 100%;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.classic .sub_classic ul li a {
    color: #737373;
    font-size: 13px;
    text-transform: capitalize;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.classic .sub_classic ul li a::after {
    width: 0;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.infographic:hover .sub_infographic {
    visibility: visible;
    height: 260px;
    opacity: 1;
    overflow: visible;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.infographic a i {
    padding-left: 25px;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.infographic .sub_infographic {
    -webkit-box-shadow: 5px 5px 7px #eee;
            box-shadow: 5px 5px 7px #eee;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 45px;
    left: -220px;
    background: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.infographic .sub_infographic ul {
    padding: 20px 30px;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.infographic .sub_infographic ul li {
    padding: 10px 0;
    width: 160px;
    height: 45px;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.infographic .sub_infographic ul li:hover a::after {
    width: 100%;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.infographic .sub_infographic ul li a {
    color: #737373;
    font-size: 13px;
    text-transform: capitalize;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.infographic .sub_infographic ul li a::after {
    width: 0;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.interactive:hover .sub_interactive {
    visibility: visible;
    height: 300px;
    opacity: 1;
    overflow: visible;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.interactive a i {
    padding-left: 25px;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.interactive .sub_interactive {
    -webkit-box-shadow: 5px 5px 7px #eee;
            box-shadow: 5px 5px 7px #eee;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 95px;
    left: -220px;
    background: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.interactive .sub_interactive ul {
    padding: 20px 30px;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.interactive .sub_interactive ul li {
    padding: 10px 0;
    width: 160px;
    height: 45px;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.interactive .sub_interactive ul li:hover a::after {
    width: 100%;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.interactive .sub_interactive ul li a {
    color: #737373;
    font-size: 13px;
    text-transform: capitalize;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.interactive .sub_interactive ul li a::after {
    width: 0;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.typography:hover .sub_typography {
    visibility: visible;
    height: 395px;
    opacity: 1;
    overflow: visible;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.typography a i {
    padding-left: 25px;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.typography .sub_typography {
    -webkit-box-shadow: 5px 5px 7px #eee;
            box-shadow: 5px 5px 7px #eee;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 135px;
    left: -220px;
    background: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.typography .sub_typography ul {
    padding: 20px 30px;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.typography .sub_typography ul li {
    padding: 10px 0;
    width: 160px;
    height: 45px;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.typography .sub_typography ul li:hover a::after {
    width: 100%;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.typography .sub_typography ul li a {
    color: #737373;
    font-size: 13px;
    text-transform: capitalize;
  }
  
  header .container .row nav ul li.elements .sub_elements ul li.typography .sub_typography ul li a::after {
    width: 0;
  }
/* slider css */
.carousel{
    position: relative;
    
}
.carousel .carousel-inner .sign{
    position: absolute;
    margin-top: 20px;
    /* margin-left: 0px; */
   
}
.carousel .carousel-inner .carousel-item >img{
    animation: zoomin 10s linear infinite;
    width: 400px;
    height: 450px;
}
@keyframes zoomin {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.08);
    }
    100%{
        transform: scale(1);
    }
}
#slider .textslide{
    position: absolute;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-left: 80px;
}
#slider .textslide p{
    font-size: 20px;
    width: 395px;
}
#slider .textslide .flowers{
    color: red;
}
/* products-tab css */
#products-tab h4{
    
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#products-tab h4:hover{
    cursor: pointer;
}
#products-tab .tab-pane {
    text-align: center;
    
}
#products-tab a{
    text-decoration: none;
 
}
#products-tab .cost{
    color: rgb(112, 112, 112);

}

.add{
    display: none;
    color: rgb(112, 112, 112);
}
#products-tab #pills-tabContent .card .sold{
    position: absolute;
    background-color: #2B2B2B;
    font-size: 14px;
    padding: 5px 17px 5px;
    margin-left: 11px;
    margin-top: 9px;
}
#products-tab #pills-tabContent .card .sale{
    position: absolute;
    background-color: white;
    font-size: 14px;
    padding: 5px 17px 5px;
    margin-left: 11px;
    margin-top: 9px;
}
#products-tab #pills-tabContent .card .sold span{
    color: white;
    font-size: 15px;
}
#products-tab #pills-tabContent .card .sale span{
    color: #2B2B2B;
    font-size: 15px;
}

#products-tab #pills-tabContent .card{
    border: none!important;
    margin-right: 20px;

}
.card:hover img{
    cursor: pointer;
    transform: scale(1.1);
}
.card:hover .add{
    display: block;
}
.card:hover .cost{
    display: none;
}
.add:hover{
    color: red;
}

.pull-right{
    display: block;
    padding: 13px 42px;
    width: 50px!important;
    height: 50px;
}


/* tab-menu css */
#products-tab .nav-item button{
border: none;
background-color:white;
color: black;
}
#products-tab .nav-item button:hover{
    color: red;
}
/* videotext css */
.valentine{
    color: #F34F3F;
}
#videotext ul>li>.fas{
    color: #F34F3F;
}
#videotext ul>li{
    list-style-type: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #6D6A6A;
}
#videotext .occasion{
    color: #6D6A6A;
}

/* flower experts css */
#flower-expert  p{
    font-size: 150px;
}

/* parallax css */

#parallax{
    background-image: url(../images/h3-background-img.jpg);
    height: 480px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
      justify-content: center;
      align-items:center;
      text-align: center;
  }
  #parallax h3{
      color: white;
  }
  #parallax input{
     width: 50px!important;
  }
  
  
  #parallax .input-group{
      width: 450px;
    height: 50px;
    
  }
  #parallax button{
     padding: 25px 35px;
      height: 50px;
      background-color: #F34F3F;
      color: white;
      border: none;
      text-align: center;
  }
  #parallax .form{
      display: flex;
      justify-content: center;
      align-items:center;
      text-align: center;
      border-radius: 0;
  }
  #parallax button:hover{
      cursor: pointer;
  }
 /* blog */
 #blog{
    background-color: #F8F8F8;
}
#blog .card:hover img{
    transform: scale(1.1);
}
#blog .container .row  h4:hover{
    cursor: pointer;
}
#blog .container .row  h4{
    font-size: 24px;
    font-family: 'Playfair Display', serif;
}
#blog .container .row  h2{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}
#blog .container .row .blogName p{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: #6D6A6A;
}
#blog .container .overflow-hidden {
    overflow: hidden!important;
    width: 365px;
}

#blog .container .row .blog-date{
    position: absolute;
    background-color: white;
    font-size: 14px;
    padding: 5px 19px 7px;
    margin-left: 11px;
    margin-top: 9px;
}
#blog .container .row .col .card-body p{
    color: #6D6A6A;
}
/* footer css */

footer {
    background: #fefaf3;
    padding: 80px 0 30px 0;
  }
  
  footer .container .links .row .link h6 {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: #000;
    line-height: 2em;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  
  footer .container .links .row .link ul {
    list-style-type: none;
  }
  
  footer .container .links .row .link ul li a {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #8b8b8b;
  }
  
  footer .container .links .row .link ul li a:hover {
    color: #f34f3f;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  footer .container .copyright {
    font-family: "Montserrat", sans-serif;
  }
  
  footer .container .copyright .title_copyright span {
    font-size: 12px;
    color: #AFAFAF;
  }
  
  footer .container .copyright .title_copyright span a {
    color: #6D6A6A;
  }
  
  footer .container .copyright .title_copyright span a:hover {
    color: #f34f3f;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  footer .container .copyright .contact_pages a {
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #AFAFAF;
    font-size: 10px;
  }
  
  footer .container .copyright .contact_pages a:first-child {
    margin-right: 20px;
  }
  
  footer .container .copyright .contact_pages a:hover {
    color: #f34f3f;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
    footer .copyright {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
    }