/* slider css */
.carousel{
    position: relative;
    
}
.carousel .carousel-inner .sign{
    position: absolute;
    margin-top: 20px;
    /* margin-left: 0px; */
   
}
.carousel .carousel-inner .carousel-item >img{
    animation: zoomin 10s linear infinite;
    width: 400px;
    height: 450px;
}
@keyframes zoomin {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.08);
    }
    100%{
        transform: scale(1);
    }
}
#slider .textslide{
    position: absolute;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-left: 80px;
}
#slider .textslide p{
    font-size: 20px;
    width: 395px;
}
#slider .textslide .flowers{
    color: red;
}

/* parallax css */

#parallax{
    background-image: url(../images/h3-background-img.jpg);
    height: 480px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
      justify-content: center;
      align-items:center;
      text-align: center;
  }
  #parallax h3{
      color: white;
  }
  #parallax input{
     width: 50px!important;
  }
  
  
  #parallax .input-group{
      width: 450px;
    height: 50px;
    
  }
  #parallax button{
     padding: 25px 35px;
      height: 50px;
      background-color: #F34F3F;
      color: white;
      border: none;
      text-align: center;
  }
  #parallax .form{
      display: flex;
      justify-content: center;
      align-items:center;
      text-align: center;
      border-radius: 0;
  }
  #parallax button:hover{
      cursor: pointer;
  }
 /* blog */
 #blog{
    background-color: #F8F8F8;
}
#blog .card:hover img{
    transform: scale(1.1);
}
#blog .container .row  h4:hover{
    cursor: pointer;
}
#blog .container .row  h4{
    font-size: 24px;
    font-family: 'Playfair Display', serif;
}
#blog .container .row  h2{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}
#blog .container .row .blogName p{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: #6D6A6A;
}
#blog .container .overflow-hidden {
    overflow: hidden!important;
    width: 365px;
}

#blog .container .row .blog-date{
    position: absolute;
    background-color: white;
    font-size: 14px;
    padding: 5px 19px 7px;
    margin-left: 11px;
    margin-top: 9px;
}
#blog .container .row .col .card-body p{
    color: #6D6A6A;
}
